<launch>
    <arg name="bond_id_namespace" default="safety_bonds" />

    <node name="leopard_imaging_camera" pkg="iarc7_sensors"
        type="leopard_imaging_camera.py" />
    <param name="$(arg bond_id_namespace)/leopard_imaging_camera/form_bond"
        value="true" />

    <node pkg="topic_tools" name="throttle_camera" type="throttle"
        args="messages /bottom_camera/rgb/image_raw 10 /bottom_camera_throttled/rgb/image_raw" />
</launch>
