<launch>
    <arg name="platform" />

    <!-- if not 1.9 and not 2.0: -->
    <group if="$(eval str(arg('platform')) not in ('1.9', '2.0', 'crazyflie'))">
        <node name="obstacle_detector" pkg="iarc7_sensors" type="obstacle_detector.py">
            <rosparam command="load"
                file="$(find iarc7_sensors)/param/obstacle_detector.yaml" />
        </node>
    </group>
    <!-- else if 2.0: -->
    <group if="$(eval str(arg('platform')) in ('2.0',))">
        <node name="obstacle_detector" pkg="iarc7_sensors" type="obstacle_detector_r200.py">
        </node>
        
        <node name="republish_obstacle_detections" pkg="iarc7_sensors" type="republish_obstacle-markers.py">
        </node>
    </group>
    <!-- else: -->
    <group if="$(eval str(arg('platform')) in ('1.9', 'crazyflie'))">
        <node name="fake_obstacle_pub"
            pkg="rostopic"
            type="rostopic"
            args="pub -s /obstacles iarc7_msgs/ObstacleArray
                    &quot;{header: {stamp: now, frame_id: map}, obstacles: []}&quot;
                    -r 10" />
    </group>
</launch>

